a {
	/* color : #d7d7d7;*/
color : #ba9077;
	text-decoration: none;
	border-bottom: 0px dotted #ba9077;
}
a:hover {
	/* background: #d7d7d7; */
	color: #6ba280;
	/* color: #FFF;*/
/* color : #4080bf;*/
	border-bottom: 3px solid #6ba280;
}

html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 10px 1px 1px rgba(0,0,0,0.004);
  }


  body {
	padding:0px 0 20px 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	color:#55515c;
	
	

	background: #feffff;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	

  
	font-size: 17px; 
	font-weight: 500; 
	line-height: 30px; 

  }

   
a img {
	border-bottom:none;
	}
h1 {
	color: #584b4f;
	text-align: center;
	font-size: 6em;
	}
h2 {
	color: #584b4f;
		text-align: center;
		font-size: 1.2em;
		font-style: italic;
		}
h3 {
	color: #584b4f;
	font-size: 2em;
}
h4 {
	color: #584b4f;
	font-size: 1em;
	margin-top: 0px;
}


.container {
	max-width: 55em !important;
	/* margin: auto; */
}
#top {
text-align: center;
}


hr {
  border-color: #000;
}

.column {
    float: left;
    width: 45%;
   padding: 10px 10px 10px 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}




.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.nav-buttons {
	    /* float: right; */
			text-align: center;
	}
.nav-buttons a{
	    border-bottom: 0px solid #000;
	}


.button {
    background-color: #ba9077;
    border: none;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5rem 0rem;
    cursor: pointer;
		border-radius: 5px;
		color: #000;
		width: 10em;
		height: 3em;
}
.button-link img{
	clear: both;
	vertical-align: middle;
}

.button:hover{
    background-color: #6ba280;
}

.img-left {
	    float: left;
	    margin-right: 1em;
			margin-left:  1em;
	}
#no-overflow p{
	    overflow: auto;
			margin-top: 0.5em;
			/* margin-left: 4em; */
	}
#no-overflow h4{
	font-size: 1.5em;
	/* margin-bottom: 0.5em; */
}
.button-link:hover{
	border-bottom: 0px;
}
