a {
	/* color : #d7d7d7;*/
color : #336699;
	text-decoration: none;
	border-bottom: 0px dotted #336699;
}
a:hover {
	/* background: #d7d7d7;
	color: #363532;*/
	/* color: #FFF;*/
/* color : #4080bf;*/
	border-bottom: 1.2px solid #4080bf;
}
BODY
   {
   /* font-family: Nimbus Sans L, Arial, FreeSans ; */
   /* font-family: "PT Sans", Arial, Helvetica, sans-serif; */
/* font-family : 'Oxygen', Verdana, Arial, Sans-serif; */
font-family: 'Raleway', sans-serif;
   color : #494949;
	 font-size: 100%;
background-color : #FFF;
	 LINE-HEIGHT: 1.3em;
   margin: 10px auto;
   }
a img {
	border-bottom:none
	}
h2, h1 {
	color: #03030;
	}
#container {
	width: 50em;
	margin: auto;
}
#top {
text-align: center; }
#top a {
    color:  #336699;
    border-bottom: 0px dotted #336699;
    font-weight: bold;
    }
#top a:hover {
	color: #4080bf;
    border-bottom: 0px solid #4080bf;
    }

hr {
  border-color: #000;
}

.column {
    float: left;
    width: 50%;
   padding: 10px 10px 10px 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#grad1 {
    padding: 1rem;
    background: #3e4468; /* For browsers that do not support gradients */
    background: linear-gradient(-90deg, #323c91, #655159); /* Standard syntax (must be last) */
    vertical-align: middle;
    color: #FFF;
		-moz-border-radius: 5px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
		-moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
		width: 100%;
		margin:auto;

}
#grad1 h1{
margin-top: 1rem;
margin-bottom : 1rem;
font-size: 3em;
text-align: center;
}


#doccode {
	padding-left:2em;
}

#doccode mark {
    background-color: #b8d3ef;
		padding: 5px;
		margin-bottom: 5px;
		display:inline-block;
}

section button {
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  display: block;
	background-color: rgba(255,255,255,0.2);
	color : #FFF;
  border: 1px solid rgba(48,48,48,0.6);
  -webkit-border-radius: 3px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
	float: center;

}

section button:hover {
  background-color: rgba(255,255,255,0.3);
	/* background-color: rgba(50,60,145,0.8); */
	color : #000;
	cursor:pointer;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
