a {
	/* color : #d7d7d7;*/
color : #ba9077;
	text-decoration: none;
	border-bottom: 0px dotted #ba9077;
}
a:hover {
	/* background: #d7d7d7; */
	color: #6ba280;
	/* color: #FFF;*/
/* color : #4080bf;*/
	border-bottom: 1.2px solid #6ba280;
}
BODY
   {
   /* font-family: Nimbus Sans L, Arial, FreeSans ; */
   /* font-family: "PT Sans", Arial, Helvetica, sans-serif; */
/* font-family : 'Oxygen', Verdana, Arial, Sans-serif; */
font-family: 'Raleway', sans-serif;
   color : #55515c;
	 font-size: 100%;
background-color : #feffff;
	 LINE-HEIGHT: 1.3em;
   margin: 0px auto;
   }
a img {
	border-bottom:none;
	}
h1 {
	color: #584b4f;
	text-align: center;
	font-size: 6em;
	}
h2 {
	color: #584b4f;
		text-align: center;
		font-size: 1.2em;
		font-style: italic;
		}
h3 {
	color: #584b4f;
	font-size: 2em;
}
#container {
	width: 50em;
	margin: auto;
}
#top {
text-align: center;
}


hr {
  border-color: #000;
}

.column {
    float: left;
    width: 50%;
   padding: 10px 10px 10px 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#grad1 {
	  margin-top: 0px;
    padding: 1em;

		background: #daad86;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #a48068 ##daad86);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ba9077, #daad86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    vertical-align: middle;
    color: #000;
		/* -moz-border-radius: 5px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
		-moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px; */
		border-bottom: 0.5rem solid #584b4f;
		width: 100%;
		margin:auto;

}


.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.nav-buttons {
	    /* float: right; */
			text-align: center;
	}
.nav-buttons a{
	    border-bottom: 0px solid #000;
	}


.button {
    background-color: #444255;
    border: none;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem 2rem;
    cursor: pointer;
		border-radius: 2px;
		color: #FFF;
		width: 11em;
}

.button:hover{
    background-color: #b07954;
		color: #000;
}
